%div
  #image
  %br
  = f.label :name, t('ads.image_name')
  = f.text_field :name
  %br
  = f.file_field :photo, thumbnail: 'image', onchange: 'previewImage(this,[256],4);'
  %br
  .imagePreview
   
  %br
  = f.link_to_remove t('ads.remove_image')
  %br




