<h4><%= t('mail.greeting', :username => @ad.user.username) %></h4>
<br>
<%= t('mail.status', :title => @ad.title) %> <br>
<%= t('mail.new_status', :state => @ad.state) %> <br>
<br><br><br>
<%= t('mail.farewell') %>
