= simple_form_for(@manage_ad, url: manage_ad_path(@manage_ad), html: { method: :put }) do |f|
  = f.error_notification
  
  = f.collection_select :state_event, @manage_ad.state_transitions, :event, :human_to_name, :include_blank => @manage_ad.human_state_name
  
  = f.button :submit
