<ul class="breadcrumb">
    <li>
        <a href="#">Главная</a> <span class="divider">/</span>
    </li>
    <!--<li>
        <a href="#">Галерея изображений</a> <span class="divider">/</span>
    </li>
    <li class="active">Природа</li>-->
</ul>

<div class="page-header">
    <h3>Объявления:</h3>
</div>


             <!--
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Природа</a></li>
				<li><a href="#tab2" data-toggle="tab">Космос</a></li>
				<li><a href="#tab3" data-toggle="tab">Города</a></li>
			</ul>
            -->


<div class="row">
    <% @ads.each do |ad| %>
        <div class="itemad span9 well">
            <%= link_to ad.title, show_path(ad) %>
            <div class="row">
                <small class="span5">Автор:</small>
                <small class="span4">Дата:</small>
            </div>
        </div>
    <% end %>
</div>


<%= will_paginate @ads, renderer: BootstrapPagination::Rails, previous_label: "Предыдущая", next_label: 'Следующая'  %>


